html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

#mapid {
	height: 90%;
	border: 2px solid white;
}

table {
	width: 100%;
	font-family: 'Lato', sans-serif;
	border-collapse: collapse;
}

td {
	padding: 3px;
	border: 1px solid white;
	color: white;
	text-align: left;
}

td a {
	text-decoration: none;
	color: white;
}

td label {
	display: block;
}

td a:hover {
	text-decoration: underline;
}

th {
	font-weight: bold;
	padding: 5px;
	background-color: #6da3f9;
	color: white;
}

#title:hover {
	cursor: pointer;
	text-decoration: underline;
}

tr {
	background-color: #c2c2d6;
	border: 2px solid white;
}

tr:hover {
	background-color: gray;
}

.activities {
	display: none;
}

.button {
	background-color: #6da3f9;
	color: white;
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-family: sans-serif;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
}

.button:hover {
	background-color: black;
	cursor: pointer;
}

#index {
	text-align: center;
	width: 80%;
	margin: 5% auto;
}

#index img {
	width: 100%;
}

#index #strava-button {
	width: 30%
}

#hello {
	text-align: center;
	background-color: #e1e1eb;
	width: 50%;
	margin: 5% auto;
	padding: 10px;
}

#athlete-photo {
	max-height: 200px;
	border-radius: 100px;
}

#routes {
	margin: auto;
	width: 50%;
	text-align: center;
}

#strava-link {
	color: #FC4C02
}

.leaflet-popup-content-wrapper {
	opacity: .9;
}

.leaflet-popup-content-wrapper + .leaflet-popup-tip-container {
	opacity: .9;
}

.leaflet-popup-content-wrapper:hover {
	opacity: .6;
}

.leaflet-popup-content-wrapper:hover + .leaflet-popup-tip-container {
	opacity: .6;
}