#mapid {
	height: 800px;
}

table {
	width: 100%;
	font-family: 'Lato', sans-serif;
}

tr {
	border: 5px solid black;
}

th {
	font-weight: bold;
	padding: 5px;
	background-color: #6da3f9;
	color: white
}