html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

#mapid {
	height: 90%;
	border: 2px solid white;
}

table {
	width: 100%;
	font-family: 'Lato', sans-serif;
	border-collapse: collapse;
}

td {
	padding: 3px;
	border: 1px solid white;
	color: white;
}

td a {
	text-decoration: none;
	color: white;
}

td a:hover {
	text-decoration: underline;
}

th {
	font-weight: bold;
	padding: 5px;
	background-color: #6da3f9;
	color: white;
}

#title:hover {
	cursor: pointer;
	text-decoration: underline;
}

tr {
	background-color: #c2c2d6;
	border: 2px solid white;
}

tr:hover {
	background-color: gray;
}

.activities {
	display: none;
}