<!doctype html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
	<script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400">
</head>

<body>
    <table>
        <tr>
            <h1><th colspan="4">Activities</th></h1>
        </tr>
        <tr>
            <th>Name</th>
            <th>Distance (miles)</th>
            <th>Vertical (feet)</th>
            <th>Date</th>
        </tr>
        {% for item in selected_routes %}
            <tr>
                <td><a href target="_blank"="https://www.strava.com/activities/{{item}}">{{names[item]}}</a></td>
                <td><a href target="_blank"="https://www.strava.com/activities/{{item}}">{{dist[item]}}</a></td>
                <td><a href target="_blank"="https://www.strava.com/activities/{{item}}">{{vert[item]}}</a></td>
                <td><a href target="_blank"="https://www.strava.com/activities/{{item}}">{{dates[item]}}</a></td>
            </tr>
        {% endfor %}
    </table>

    <div id="mapid">
        <script type="text/javascript">

        var layer = new L.StamenTileLayer("terrain");
        var map = new L.Map("mapid", {
            center: new L.LatLng(37.45, -122.3),
            zoom: 12
        });
        map.addLayer(layer);    
            
        //var map = L.map('mapid').setView([37.45,-122.30],13);
        //L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
            
        const jsArrayOfItems = {{encoded_routes | safe}};
        
        for (let encoded of jsArrayOfItems) {
            var coordinates = L.Polyline.fromEncoded(encoded).getLatLngs();

            L.polyline(
            coordinates, {
                color: 'blue',
                weight: 2,
                lineJoin: 'round'
            }
            ).addTo(map);
        }
        
        </script>
    </div>
<body>
