<!doctype html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
	<script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400">
    <script>
        function toggle() {
            var activities = document.getElementsByClassName("activities");
            for (i = 0; i < activities.length; i++) {
                if (activities[i].style.display=="none") {
                    activities[i].style.display='table-row';
                }
                else {
                    activities[i].style.display="none";
                }
            }
        }
    </script>
</head>

<body>
    <table>
        <tr onClick="toggle();">
            <th id="title" colspan="5">Activities (click to show/hide)</th>
        </tr>
        <tr class="activities">
            <th>Name</th>
            <th>Distance (miles)</th>
            <th>Vertical (feet)</th>
            <th>Date</th>
            <th>Link</th>
        </tr>
        {% for item in selected_routes %}
            <tr class="activities" onClick="highlightRoute(String({{item}}));">
                <td>{{names[item]}}</td>
                <td>{{dist[item]}}</td>
                <td>{{vert[item]}}</td>
                <td>{{dates[item]}}</td>
                <td><a href="https://www.strava.com/activities/{{item}}" target="_blank">Strava&#x1F5D7</a></td>
            </tr>
        {% endfor %}
    </table>

    <div id="mapid">
        <script type="text/javascript">
        //Dict of id x polyline
        const selectedRoutes = {{ selected_routes | safe }}

        //Arrays of:
        //id x name:
        const names = {{ names | safe }};
        //id x distance:
        const dist = {{ dist | safe }};
        //id x vert:
        const vert = {{ vert | safe }};
        //id x date:
        const dates = {{ dates | safe }};

        //Designated function to allow route highlighting from HTML
        function highlightRoute(ID) {
            allRoutes.setStyle({color:'blue', weight:2})
            allRoutes.eachLayer(function(layer) {
                if (layer.routeID === ID) {
                    layer.setStyle({color:'red', weight:6, opacity:0.6})
                    layer.openPopup()
                    layer.bringToFront();
                }
            })
        };

        //All route polylines are stored in a feature group
        //on-click highlighting is controlled here        
        var allRoutes = L.featureGroup()
            .on('click', function(route) {
                allRoutes.setStyle({color:'blue',weight:2}) 
                route["layer"].setStyle({color:'red', weight:6, opacity:0.6})
                route["layer"].bringToFront()
            });

        //Decode route polylines and add to the allRoutes feature group
        //Popup styling is controlled here
        for (let encoded in selectedRoutes) {
            var coordinates = L.Polyline.fromEncoded(selectedRoutes[encoded]).getLatLngs();
            var route = L.polyline (
                coordinates, {
                    color: 'blue',
                    weight: 2
                }
            );
            route.bindPopup("<b>"+names[encoded]+"</b><br>"+dist[encoded]+" miles<br>"+vert[encoded]+" feet<br>"+dates[encoded]);
            //Give each route a property "routeID" equal to its Strava ID
            route.routeID = encoded
            allRoutes.addLayer(route)
        }

        //Create the map
        var map = new L.Map("mapid", {
            center: allRoutes.getBounds().getCenter()
        });
        //Add basemap and zoom to extent of allRoutes
        map.fitBounds(allRoutes.getBounds());
        map.on('click', function() {
            allRoutes.setStyle({color:'blue',weight:2});
        });
        L.tileLayer('https://tile.thunderforest.com/landscape/{z}/{x}/{y}.png?apikey=f8bd6b07e9304be2a30c21d2d4c8e145', {attribution: '<a href="https://carolineglazer.com" target="_blank">Caroline Glazer</a> | Maps &copy <a href="www.thunderforest.com">Thunderforest</a>, Data &copy <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'}).addTo(map);

        //add allRoutes (feature group) to map
        allRoutes.addTo(map);

        </script>
    </div>
<body>
