<!doctype html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400">
</head>

<body>
    <div id="index">
        <img src="{{ url_for('static', filename='images/highlighted_route_black.jpg')}}">
        <p>
            <a href="/login"><img id="strava-button" src="{{ url_for('static', filename='images/strava_button.png')}}"></a>
        </p>
        <p>Created by <a href="https://carolineglazer.com">Caroline Glazer</a></p>
    </div>
</body>
