<!doctype html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400">
	<title>Routes</title>
</head>

<body>
	<h1>Hello, {{athlete_firstname}} {{athlete_lastname}}</h1>
	<img src={{athlete_photo}}>

	<form action="/displayroutes" method="post">
		{% for i in activity_ids %}
		<input type="checkbox" name={{i}} value={{activity_ids[i]}}>{{activity_ids[i]}}<br>
		{% endfor %}
		<input type="submit" value="submit">
	</form>
</body>