<!doctype html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400">
	<title>Routes</title>
</head>

<body>
	<div id="routes">
		<h1>Choose routes to display:</h1>
		<form action="/displayroutes" method="post">
			<table>
				{% for i in activity_ids %}
					<tr>
						<td>
							<label>
								<input type="checkbox" name={{i}} value={{activity_ids[i]}}>{{activity_ids[i]}}
							</label>
						</td>
					</tr>
				{% endfor %}
			</table>
			<p>
				<a href="/login/callback" class="button">Choose different dates</a>
				<input type="submit" class="button" value="Show me the routes">
			</p>
		</form>
	</div>
</body>